/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------START EDITING HERE---------------- */


/* ERROR header, nav, middle section and footer styles and layout do not match site design */



body {
	background-color: white;
	font-size: 16px;

}

nav{
	display: inline-block;
}

h1, p {
	color: #ffffff;
	float: inline-block;
	display: inline-block;
	background-color: rgb (0,0,0);
	background-color: rgba(0,0,0,0.5);
}

h1{
    font-family: Helvetica;
    font-size: 300%;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
	text-align: center;
	margin: 20px;
	width: 30%;
	float: left;
}

h2{
    font-family: Helvetica;
    font-size: 200%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: black;
    text-align: center;
    margin: 0px auto;
}

.images{
    width:600px;
    height: 0px auto;
    padding: 45px;
}

h3{
    font-family: Helvetica;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: black;
}

h4{
    font-family: Helvetica;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: black;
}

h5{
   font-family: Helvetica;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: black;
}

h6{
    font-family: Helvetica;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: black;
}	
header{
	background-color: pink;
	width: 96%;
	padding: 2%;
	overflow: auto;
}

nav{
	width:35%;
	float: right;
	display: inline-block;
}

ul li {
		display: inline-block;
		background-color: hot pink;
		padding: 10px;
		margin: 10px 10px 10px 10px;
}

ul li a{
	font-family: Helvetica;
	font-weight:300;
	font-size: 100%;
	color:white;
	text-decoration: none;
	display: inline-block;
	
}
/* ERROR css rules for header elements do not match site design */
    a:link {
      color: black;
      text-decoration: none;}
    a:hover {
      color: white;
      text-decoration: none;}
    a:active {
      color: white;}
	  
	  td {
  border: 1px solid #0088dd;
  padding: 10px;
    display: inline-block;
	  }


table.one {
  empty-cells: show;}

table.two {
  empty-cells: hide;}

td {
  background-color: #0088dd;
  padding: 15px;
  border: 2px solid #000000;}

table.one {
  border-spacing: 5px 15px;}

table.two {
  border-collapse: collapse;}

	  

img.small {
 width: 100px;
 height: 100px;}

footer{
	float: left;
              display: inline-block;
              background-color: pink;
              width: 200px;
              height: 50px;
              padding: 10px;
              margin: 10px;
	